dactionsengine/dactionsengine/public/results/results.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="destraction">
    <xs:all>
      <xs:element type="xs:date" name="date" maxOccurs="1"/>
      <xs:element type="locationType" name="location" maxOccurs="1"/>
      <xs:element type="challengesType" name="challenges" maxOccurs="1"/>
      <xs:element type="xs:string" name="winner" maxOccurs="1"/>
      <xs:element type="xs:string" name="pictures" maxOccurs="1"/>
      <xs:element type="teamsType" name="teams" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <!-- location -->
  <xs:complexType name="locationType">
    <xs:all>
      <xs:element type="xs:string" name="venue" maxOccurs="1"/>
      <xs:element type="xs:string" name="address" maxOccurs="1"/>
      <xs:element type="xs:string" name="city" maxOccurs="1"/>
      <xs:element type="xs:string" name="country" maxOccurs="1">
          <xs:simpleType>
              <xs:restriction base="xs:string">
                  <xs:pattern value="[A-Z][A-Z]"/>
              </xs:restriction>
          </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- challenges -->
  <xs:complexType name="challengesType">
    <xs:sequence>
      <xs:element type="challengeType" name="challenge" maxOccurs="5" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="challengeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
         <xs:attribute type="xs:int" name="id" use="required">
             <xs:simpleType>
                 <xs:restriction base="xs:int">
                     <xs:minInclusive value="1"/>
                     <xs:maxInclusive value="5"/>
                 </xs:restriction>
             </xs:simpleType>
         </xs:attribute>
         <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- teams -->
  <xs:complexType name="teamsType">
    <xs:all>
      <xs:element type="teamType" name="team" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="teamType">
    <xs:all>
      <xs:element type="memberType" name="member" minOccurs="1"/>
      <xs:element type="challengeType" name="challenge"/>
    </xs:all>
    <xs:attribute type="xs:string" name="id" use="required">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="memberType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:choice>
        <xs:element type="xs:string" name="mail"/>
        <xs:element type="xs:string" name="twitter"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>


</xs:schema>